<!--
  Used exclusively for the Projects page.
  Displays somewhat primitive list of all project posts.

  Uses info from each post for display, such as title, description, and more in future.
-->

{% if site.posts.size > 0 %}
  <ul class="project_list">
    {% for post in site.posts %}
      {% if post.category == 'project' %}
      <li class="project_list_li">
        <!-- <a class="post_date">
          {{ post.date | date: site.theme_config.date_format }}
        </a> -->
        <a class="post_link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <!-- <i>(
          {{ post.date | date: site.theme_config.date_format }}
        )
        </i> -->
        <br>
        <a class="post_date">
          ({{ post.date | date: site.theme_config.date_format }})
        </a> ~ 
        {{ post.description }} 
      </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
